@page "/help"
@layout Layout.EmptyLayout

<MudPaper Class="ma-1 pa-4" Elevation="0">    
    <MudText Typo="Typo.h4" GutterBottom="true">@localizer.Html("_HelpPageMessage")</MudText>
    <MudText Typo="Typo.body1" GutterBottom="true">
            <div class="faq-item">
                <div class="faq-question">1. @localizer.Html("_FAQ1") ?</div>
                <div class="faq-answer">
                @localizer.Html("_FAQA1")
                </div>
            </div>

            <div class="faq-item">
            <div class="faq-question">2. @localizer.Html("_FAQ2")?</div>
                <div class="faq-answer">
                @localizer.Html("_FAQA2")
                </div>
            </div>

            <div class="faq-item">
            <div class="faq-question">3. @localizer.Html("_FAQ3")?</div>
                <div class="faq-answer">
                @localizer.Html("_FAQA3")
                </div>
            </div>

            <div class="faq-item">
            <div class="faq-question">4. @localizer.Html("_FAQ4")?</div>
                <div class="faq-answer">
                @localizer.Html("_FAQA4")
                </div>
            </div>

            <div class="faq-item">
            <div class="faq-question">5. @localizer.Html("_FAQ5")?</div>
                <div class="faq-answer">
                @localizer.Html("_FAQA5")
                </div>
            </div>

            <div class="faq-item">
            <div class="faq-question">6. @localizer.Html("_FAQ6")?</div>
                <div class="faq-answer">
                @localizer.Html("_FAQA6")
                </div>
            </div>

            <div class="faq-item">
            <div class="faq-question">7. @localizer.Html("_FAQ7")?</div>
                <div class="faq-answer">
                @localizer.Html("_FAQA7")
                </div>
            </div>

            <div class="faq-item">
            <div class="faq-question">8. @localizer.Html("_FAQ8")?</div>
                <div class="faq-answer">
                @localizer.Html("_FAQA8")
                </div>
            </div>

            <div class="faq-item">
            <div class="faq-question">9. @localizer.Html("_FAQ9")?</div>
                <div class="faq-answer">
                @localizer.Html("_FAQA9")
                </div>
            </div>

            <div class="faq-item">
            <div class="faq-question">10. @localizer.Html("_FAQ10")?</div>
                <div class="faq-answer">
                @localizer.Html("_FAQA10")
                </div>
            </div>

            <div class="faq-item">
            <div class="faq-question">11. @localizer.Html("_FAQ11")?</div>
                <div class="faq-answer">
                @localizer.Html("_FAQA11")
                </div>
            </div>

            <div class="faq-item">
            <div class="faq-question">12. @localizer.Html("_FAQ12")?</div>
                <div class="faq-answer">
                @localizer.Html("_FAQA12")
                </div>
            </div>

            <div class="faq-item">
            <div class="faq-question">13. @localizer.Html("_FAQ13")?</div>
                <div class="faq-answer">
                @localizer.Html("_FAQA13")
                </div>
            </div>

            <div class="faq-item">
            <div class="faq-question">14. @localizer.Html("_FAQ14")?</div>
                <div class="faq-answer">
                @localizer.Html("_FAQA14")
                </div>
            </div>

            <div class="faq-item">
            <div class="faq-question">15. @localizer.Html("_FAQ15")?</div>
                <div class="faq-answer">
                @localizer.Html("_FAQA15")
                </div>
            </div>

            <div class="faq-item">
            <div class="faq-question">16. @localizer.Html("_FAQ16")?</div>
                <div class="faq-answer">
                @localizer.Html("_FAQA16")
                </div>
            </div>

            <div class="faq-item">
            <div class="faq-question">17. @localizer.Html("_FAQ17")?</div>
                <div class="faq-answer">
                @localizer.Html("_FAQA17")
                </div>
            </div>

            <div class="faq-item">
                <div class="faq-question">18. @localizer.Html("_FAQ18")?</div>
                <div class="faq-answer">
                @localizer.Html("_FAQA18")
                </div>
            </div>

            <div class="faq-item">
                <div class="faq-question">19. @localizer.Html("_FAQ19")?</div>
                <div class="faq-answer">
                @localizer.Html("_FAQA19")  
                </div>
            </div>

            <div class="faq-item">
                <div class="faq-question">20. @localizer.Html("_FAQ20")?</div>
                <div class="faq-answer">
                @localizer.Html("_FAQA20")
                </div>
            </div>

            <div class="faq-item">
                <div class="faq-question">21. @localizer.Html("_FAQ21")?</div>
                <div class="faq-answer">
                @localizer.Html("_FAQA21")
                </div>
            </div>

            <div class="faq-item">
                <div class="faq-question">22. @localizer.Html("_FAQ22")?</div>
                <div class="faq-answer">
                @localizer.Html("_FAQA22")
                </div>
            </div>

            <div class="faq-item">
                <div class="faq-question">23. @localizer.Html("_FAQ23")?</div>
                <div class="faq-answer">
                @localizer.Html("_FAQA23")
                </div>
            </div>

            <div class="faq-item">
                <div class="faq-question">24. @localizer.Html("_FAQ24")?</div>
                <div class="faq-answer">
                @localizer.Html("_FAQA24")
                </div>
            </div>

            <div class="faq-item">
                <div class="faq-question">25. @localizer.Html("_FAQ25")?</div>
                <div class="faq-answer">
                @localizer.Html("_FAQA25")
                </div>
            </div>

            <div class="faq-item">
                <div class="faq-question">26. @localizer.Html("_FAQ26")?</div>
                <div class="faq-answer">
                @localizer.Html("_FAQA26")
                </div>
            </div>

            <div class="faq-item">
                <div class="faq-question">27. @localizer.Html("_FAQ27")?</div>
                <div class="faq-answer">
                @localizer.Html("_FAQA27")
                </div>
            </div>

            <div class="faq-item">
                <div class="faq-question">28. @localizer.Html("_FAQ28")?</div>
                <div class="faq-answer">
                @localizer.Html("_FAQA28")
                </div>
            </div>

            <div class="faq-item">
                <div class="faq-question">29. @localizer.Html("_FAQ29")?</div>
                <div class="faq-answer">
                @localizer.Html("_FAQA29")
                </div>
            </div>

            <div class="faq-item">
                <div class="faq-question">30. @localizer.Html("_FAQ30")?</div>
                <div class="faq-answer">
                @localizer.Html("_FAQA30")
                </div>
            </div>

   
    </MudText>
</MudPaper>

<style>
    body {
        font-family: Arial, sans-serif;
        line-height: 1.7;
        margin: 40px;
        background-color: #f9f9f9;
        color: #333;
    }


    h1 {
        text-align: center;
        color: #004080;
        margin-bottom: 30px;
    }

    .faq-item {
        margin-bottom: 25px;
        padding-bottom: 15px;
        border-bottom: 1px solid #ddd;
    }

    .faq-question {
        font-weight: bold;
        color: #004080;
        margin-bottom: 8px;
    }

    .faq-answer {
        margin-left: 10px;
    }
</style>